<%= render 'layout' %>
<br/>
<div class="card" style="width: 50rem;">
    <div class="card-header">
        <h1 class="card-title" style="text-align: center;">Editar Noticía</h1>
    </div>
<%= render 'form' %>