<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country_state.name %>
</p>

<%= link_to 'Edit', edit_country_state_path(@country_state) %> |
<%= link_to 'Back', country_states_path %>
